@model IEnumerable<Reist_VS2017.Models.Hotel>

@{
    ViewBag.Title = "Consulta";
}

<div style="background-image: url(../../Content/Images/aviao.png); width: 100%; padding-bottom:30px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; ">
    <div class="container body-content">
        <br />
        <h1 style="color: #fff; font-family: 'Montserrat Alternates', sans-serif;">Hospedagens</h1>
        <h4 style="color: #fff; font-family: 'Montserrat', sans-serif;">Faça uma busca e encontre a hospedagem ideal para você!</h4>
        <br />
        <div style="background-color: rgba(255, 255, 255, 0.70); border-radius: 20px; padding: 30px; font-family: 'Montserrat', sans-serif;">
            @using (Html.BeginForm("ListarHotel", "Hotel", FormMethod.Get))
            {
                <div class="row" style="">
                    <div class="col">
                        <label class="form-label">Destino: </label>
                        <input class="form-control" type="text" name="destino" placeholder="Informe o destino" style="border-radius: 10px; border: none; ">
                    </div>
                    <div class="col">
                        <label class="form-label">Check-in: </label>
                        <input class="form-control" type="date" name="dataida" placeholder="Informe a data" style=" border-radius: 10px; border: none;">
                    </div>
                    <div class="col">
                        <label class="form-label">Check-out: </label>
                        <input class="form-control" type="date" name="datavolta" placeholder="Informe a data" style=" border-radius: 10px; border: none;">
                    </div>
                    <div class="col">
                        <label class="form-label">Quartos: </label>
                        <input class="form-control" type="number" name="numero" placeholder="Número" value="1" min="1" style=" border-radius: 10px; border: none;">
                    </div>
                    <div class="col">
                        <label class="form-label">Hóspedes: </label>
                        <input class="form-control" type="number" name="numero" placeholder="Número" value="1" min="1" style=" border-radius: 10px; border: none;">
                    </div>
                    <div class="col">
                        <br />
                        <button type="submit" class="btn" style="background-color: #44338F; color: #fff;">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<h2>Registros de clientes no sistema!</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco.logradouro)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    <label class="cpf">@Html.DisplayFor(modelItem => item.endereco.logradouro)</label>
                </td>
                <td style="text-align: right">
                    <a type="button" class="btn btn-primary" target="_blank" href="@Url.Action("ListarQuarto", "Quarto", new { id = item.cnpj })">Ver Quartos</a>
                </td>
            </tr>
        }

    </tbody>
</table>