@model Reist_VS2017.Models.Passagem

@{
    Layout = "~/Areas/Funcionario/Views/Shared/_LayoutFun.cshtml";
    ViewBag.Title = "Cadastro de Passagens";
}

<div style="background-color: rgba(0,0,0,0.01); border-radius: 10px; padding: 20px;">
    @using (Html.BeginForm("Cadastrar", "Cliente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h2 class="d-flex justify-content-center" style="font-weight: 700;">Cadastro de Passagens</h2>
        <hr />

        <div class="row g-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-6">
                <label class="form-label">Origem: </label>
                @Html.EditorFor(model => model.origemtext, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.origemtext, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Saída: </label>
                <input class="form-control" type="date" name="saida" placeholder="Informe a data">
                @Html.ValidationMessageFor(model => model.saida, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Destino: </label>
                @Html.EditorFor(model => model.destinotext, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.destinotext, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Chegada: </label>
                <input class="form-control" type="date" name="chegada" placeholder="Informe a data">
                @Html.ValidationMessageFor(model => model.chegada, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Empresa: </label>
                @Html.EditorFor(model => model.empresa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empresa, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Classe: </label>
                @Html.DropDownListFor(model => model.classe, new SelectList(new List<string>(){
                            "","Econômica","Executiva"
                        }), new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.classe, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Assentos: </label>
                @Html.EditorFor(model => model.assentos, new { htmlAttributes = new { @class = "form-control", @min = "1" } })
                @Html.ValidationMessageFor(model => model.assentos, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Preço: </label>
                @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn mb-1" style="background-color: #44338F; color: #fff;">Cadastrar</button>
        </div>
    }
</div>