@model IEnumerable<Reist_VS2017.Models.Passagem>

@{
    ViewBag.Title = "Consulta";
}
<div style="background-image: url(../../Content/Images/aviao.png); width: 100%; padding-bottom:30px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; ">
    <div class="container body-content">
        <br />
        <h1 style="color: #fff; font-family: 'Montserrat Alternates', sans-serif;">Passagens aéreas</h1>
        <h4 style="color: #fff; font-family: 'Montserrat', sans-serif;">Faça uma busca e encontre a passagem ideal para você!</h4>
        <br />
        <div style="background-color: rgba(255, 255, 255, 0.70); border-radius: 20px; padding: 30px; font-family: 'Montserrat', sans-serif;">
            @using (Html.BeginForm("ListarPassagem", "Passagem", FormMethod.Get))
            {
                <div class="row">
                    <div class="col mb-1">
                        <label class="form-label">Origem: </label>
                        <input class="form-control" type="text" name="origem" placeholder="Informe a origem" value="@Session["origem"] " style="border-radius: 10px; border: none; ">
                    </div>
                    <div class="col mb-1">
                        <label class="form-label">Destino: </label>
                        <input class="form-control" type="text" name="destino" placeholder="Informe o destino" value="@Session["destino"]" style="border-radius: 10px; border: none; ">
                    </div>
                    <div class="col mb-1">
                        <label class="form-label">Ida: </label>
                        <input class="form-control" type="date" name="dataida" placeholder="Informe a data" value="@Session["dataida"]" style=" border-radius: 10px; border: none;">
                    </div>
                    <div class="col mb-1">
                        <label class="form-label">Volta: </label>
                        <input class="form-control" type="date" name="datavolta" id="volta" value="@Session["datavolta"]" placeholder="Informe a data" style=" border-radius: 10px; border: none;" disabled>
                    </div>
                    <div class="col mb-1">
                        <label class="form-label">Passageiros: </label>
                        <input class="form-control" type="number" name="passageiros" placeholder="Número" value="@Session["passageiros"]" min="1" style=" border-radius: 10px; border: none;">
                    </div>
                    <div class="col mb-1">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkvolta" name="checkvolta" value="volta">
                            <label class="form-check-label" for="checkvolta">Volta</label>
                        </div>
                        <button type="submit" class="btn" style="background-color: #44338F; color: #fff;">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    const voltaCheck = document.querySelector("#checkvolta");
    voltaCheck.addEventListener('change', function (e) {
        if (document.getElementById("checkvolta").checked) {
            document.getElementById("volta").disabled = false;
        } else {
            document.getElementById("volta").disabled = true;
        }
    });
</script>

<div class="container body-content">

    <br>
    <h2>Resultados da busca</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <label>Origem</label>
                </th>
                <th>
                    <label>Destino</label>
                </th>
                <th>
                    <label>Assentos</label>
                </th>
                <th>
                    <label>Classse</label>
                </th>
                <th>
                    <label>Preço</label>
                </th>
                <th>
                    <label>Empresa</label>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.origem.sigla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.destino.sigla)
                    </td>
                    <td>
                        @if (item.assentos < 10)
                        {
                            <b style="color:red;">@Html.DisplayFor(modelItem => item.assentos)</b>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.assentos)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.classe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.empresa)
                    </td>
                    <td style="text-align: right">
                        <a type="button" class="btn btn-primary" href="@Url.Action("Pagamento", "Compra", new { id = item.id })">Comprar</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @foreach (var item in Model)
     {
        <div style="background-color: rgba(0, 0, 0, 0.1); border-radius: 20px; padding: 30px; font-family: 'Montserrat', sans-serif; width: 100%; box-shadow: 0px 6px 6px rgba(68, 51, 143, 0.6); margin-top: 30px;">
              <div class="row">
                  <div class="col">
                      @Html.DisplayFor(modelItem => item.empresa)
                      @if (item.assentos < 10)
                      {
                          <b style="color:red;">@Html.DisplayFor(modelItem => item.assentos)</b>
                      }
                      else
                      {
                          @Html.DisplayFor(modelItem => item.assentos)
                      }
                  </div>
                    <div class="col-md-auto">

                    </div>
                    <div class="col col-lg-2">
                        <div class="d-flex justify-content-center" style="border-radius: 10px; background-color: #ddd; padding: 10px;">
                            <div>
                                @Html.DisplayFor(modelItem => item.preco)
                                <br />
                                @Html.DisplayFor(modelItem => item.classe)
                            </div>
                            <a type="button" class="btn btn-primary" href="@Url.Action("Pagamento", "Compra", new { id = item.id })">Comprar</a>
                        </div>
                    </div>
              </div>
        </div>
     }
</div>