@model Reist_VS2017.Models.Compra

@{
    ViewBag.Title = "Pagamento";
}
<div class="container body-content">

    <div class="container body-content" style=" display: flex; justify-content: center; align-items: center; ">
        <div style="font-family: 'Montserrat', sans-serif; background-color: #F6F6F6; width: 100%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; margin-top: 30px; padding: 20px; ">

            @using (Html.BeginForm("FinalizarCompra", "Compra", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h2 class="d-flex justify-content-center" style="font-weight: 700;">Dados do cartão</h2>
                <hr />
                <div class="row g-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-8">
                        <label class="form-label">Número do cartão: </label>
                        @Html.EditorFor(model => model.cartao.numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cartao.numero, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Tipo: </label>
                        @Html.DropDownListFor(model => model.cartao.tipo, new SelectList(new List<string>(){
                            "","Crédito","Débito"
                        }), new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.cartao.tipo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Bandeira: </label>
                        @Html.DropDownListFor(model => model.cartao.bandeira, new SelectList(new List<string>(){
                            "","Mastercard","Visa","American Express","Hipercard","Elo"
                        }), new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.cartao.bandeira, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Nome impresso: </label>
                        <input class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Validade: </label>
                        <input class="form-control" type="date" name="dataValidade" placeholder="Informe a data">
                        @Html.ValidationMessageFor(model => model.cartao.validade, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Código de segurança: </label>
                        @Html.EditorFor(model => model.cartao.codSeguranca, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                        @Html.ValidationMessageFor(model => model.cartao.codSeguranca, "", new { @class = "text-danger" })
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn mb-1" style="background-color: #44338F; color: #fff;">Pagar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>