<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/reist.css" />
</head>
<body>
    <div class="navbar navbar-reist navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="height: 50px; display: flex; justify-content: center; align-items: center; margin-right:20px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src='@Url.Content("~/Content/Images/Reist_white.png")' style="height: 40px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left" style="display: flex; justify-content: center; align-items: center;">
                    <li><a href='@Url.Action("Index", "Home")' style="margin-left: 20px; padding: 5px; width:100px; background-color: #44338F; border-radius: 5px; text-align:center;">Passagens</a></li>
                    <li><a href='@Url.Action("Hotel", "Home")' style="margin-left: 20px; padding: 5px; width:100px; background-color: #44338F; border-radius: 5px; text-align:center;">Hospedagens</a></li>
                    <li><a href='@Url.Action("Pacote", "Home")' style="margin-left: 20px; padding: 5px; width:100px; background-color: #44338F; border-radius: 5px; text-align:center;">Pacotes</a></li>
                    <li>@Html.ActionLink("Funcionário", "Index", new { area = "Funcionario", controller = "Home" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="display: flex; justify-content: center; align-items: center;">
                    <li>
                        @if (Session["name"] == null)
                        {
                            @Html.ActionLink("Login", "Login", "Login")
                        }
                        else
                        {
                            <p>Olá @Session["name"] | @Html.ActionLink("Sair", "Logout", "Login")</p>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
