<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reist</title>
    <link rel="icon" href="~/Content/Images/Reist_icon_blue.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@700&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-dark" style="background-color: #0c0235; font-family: 'Montserrat', sans-serif;">
        <div class="container-fluid">
            <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/Content/Images/Reist_white_cortada.png")' style="height: 40px; margin-left: 10px;" />
                    </a>
                </li>
            </ul>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="false" aria-labelledby="offcanvasNavbarLabel" style="background-color: #0c0235; font-family: 'Montserrat', sans-serif; margin-top: 50px;">
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white mt-3" href="#" id="offcanvasNavbarDropdown0" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgba(50,50,50,0.1); border-radius: 10px; padding-left: 10px; ">
                                Usuários
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-white" aria-labelledby="offcanvasNavbarDropdown0" style="background-color: rgba(0,0,0,0.2); ">
                                <li><a class="dropdown-item" href="@Url.Action("Passagem", "ConsultaPassagem")">Consulta</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Passagem", "CadastroPassagem")">Cadastro</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white mt-3" href="#" id="offcanvasNavbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgba(50,50,50,0.1); border-radius: 10px; padding-left: 10px; ">
                                Passagens
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-white" aria-labelledby="offcanvasNavbarDropdown1" style="background-color: rgba(0,0,0,0.2); ">
                                <li><a class="dropdown-item" href="@Url.Action("Passagem", "ConsultaPassagem")">Consulta</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("CadastroPassagem", "Passagem")">Cadastro</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white mt-3" href="#" id="offcanvasNavbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgba(50,50,50,0.1); border-radius: 10px; padding-left: 10px; ">
                                Hospedagens
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-white" aria-labelledby="offcanvasNavbarDropdown2" style="background-color: rgba(0,0,0,0.2); ">
                                <li><a class="dropdown-item" href="@Url.Action("Hotel", "ConsultaHotel")">Consulta</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Hotel", "CadastroHotel")">Cadastro</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white mt-3" href="#" id="offcanvasNavbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgba(50,50,50,0.1); border-radius: 10px; padding-left: 10px; ">
                                Pacotes
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-white" aria-labelledby="offcanvasNavbarDropdown3" style="background-color: rgba(0,0,0,0.2); ">
                                <li><a class="dropdown-item" href="@Url.Action("Pacote", "ConsultaPacote")">Consulta</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Pacote", "CadastroPacote")">Cadastro</a></li>
                            </ul>
                        </li>
                        <!--<li>
        <span class="nav-link active mt-5" style="padding-left: 10px; color: white;"> @Session["name"] | <a style="text-decoration: none; color: white;" href="@Url.Action("Logout", "Login")">Sair</a></span>
    </li>-->
                        <li>
                            <span class="nav-link active fixed-bottom mb-1" style="margin-left: 20px; color: white;"> @Session["name"] | <a style="text-decoration: none; color: white;" href="@Url.Action("Logout", "Login")">Sair</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content mt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LinkenUp</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>